<!--  -----Introduccion a angular
<h1>titulo</h1>
<button (click)="sumar()">+1</button>
<span>{{numero}}</span>
<button (click)="restar()">-1</button>

-----Ejercicio 1 parcial 3
<h1>{{titulo}}</h1>
<button (click)="acumular(+1)">+1</button>
<span>{{numero}}</span>
<button (click)="acumular(-1)">-1</button>

Ejercicio 2 parcial 3:
usar la app contador pero que sume de 5 en 5
y reste de 5 en 5
<h1>{{titulo}}</h1>
<button (click)="numero=numero+suma5">+5</button>
<span>{{numero}}</span>
<button (click)="numero=numero-suma5">-5</button>


-----como lo resolvio la profa: 
<h1>{{titulo}}</h1>                                     /*Copiamos desde esta linea de codigo, hasta el ultimo*/
<h3>La base es:<strong>{{base}}</strong></h3>           /*button, y la pegamos en el doc. contadora.component.ts*/
<button (click)="acumular(base)">+{{base}}</button>
<span>{{numero}}</span>
<button (click)="acumular(-base)">-{{base}}</button>-->

<!-- Creacion del componente contadora-->

<!--<app-contadora></app-contadora> Botones parte superior-->
<!--<app-contadora></app-contadora> Botones parte inferior-->

<!--Creacion del componente Heroe-->
<!--<app-Heroe></app-Heroe>-->

<!--Creacion automatica del componente Listado-->
<app-listado></app-listado>
